<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.addrgeneration.dao.UserMapper">
    <insert id="register" parameterType="String">
        insert into register (nid, username, phoneNumber, password, name, emailAddress, role)
        values (#{nid}, #{username}, #{phoneNumber}, #{password}, #{name}, #{emailAddress}, #{role})
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete from register where nid = #{userContent} or userID = #{userContent}
    </delete>

    <update id="updateUser" parameterType="com.hust.addrgeneration.beans.InfoBean">
        update register set nid = #{nid}, name = #{name}, password = #{password}, phoneNumber = #{phoneNumber}, role = #{role}, emailAddress = #{emailAddress} where username = #{username}
    </update>

    <select id="getUser" parameterType="String" resultType="com.hust.addrgeneration.beans.InfoBean">
        select * from register where nid = #{nid}
    </select>

    <select id="getPasswordFromNID" parameterType="String" resultType="String">
        select password from register where nid = #{nid}
    </select>

    <insert id="updateKey" parameterType="com.hust.addrgeneration.beans.KeyInfo">
        insert into keyinfo (addrGenIP, ideakey, timehash)
        values (#{addrGenIP}, #{ideaKey}, #{timeHash})
    </insert>
    
    <select id="getIdeaKey" parameterType="String" resultType="String">
        select ideakey from keyinfo where addrGenIP = #{addrGenIP} and timehash = #{timeHash}
    </select>

    <insert id="updateAID" parameterType="String">
        insert into aidinfo (aidnth, prefix, aid, nid)
        values (#{aidnth}, #{prefix}, #{aid}, #{nid})
    </insert>

    <select id="getAIDnTHPrefix" parameterType="String" resultType="String">
        select prefix from aidinfo where aidnth = #{aidnth}
    </select>

    <select id="getAIDnTH" parameterType="String" resultType="String">
        select aidnth from aidinfo where aid = #{aid}
    </select>

    <select id="getAID" parameterType="String" resultType="String">
        select aid from aidinfo where nid = #{nid}
    </select>

    <delete id="deleteAID" parameterType="String">
        delete from aidinfo where aid = #{aid}
    </delete>

</mapper>